<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>

<body>
    <h1>Welcome</h1>
    <h5>Query: {{filter}}</h5>
    <form action="/" method="POST">
      <label for="filter">Filter:</label><br>
      <input type="text" id="filter" name="filter"><br>
      <input type="submit" value="Submit">
    </form>
    <table>
      <tr>
        <th>Id</th>
        <th>Firstname</th> 
        <th>Lastname</th>
        <th>Age</th>
        <th>Married</th>
      </tr>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.student }}</td>
        </tr>
      {% endfor %}
    </table>
</body>

</html>
